<div id="contenedor">

    <h2>Registrate</h2>

    <hr>

    <h3>¡Bienvenido! Por favor, crea una cuenta</h3>

    <form [formGroup]="registerForm">
        
        <div class="field">
            <input type="text" class="form-control" placeholder="Nombre" autocomplete="nombre" formControlName="nombre"
            [ngClass]="{'is-invalid' : (registerForm.get('nombre').dirty || registerForm.get('nombre').touched) && !registerForm.get('nombre').valid}"/>
            <small class="invalid-feedback" *ngIf="!registerForm.get('nombre').valid">El campo nombre es obligatorio</small> 
        </div>

        <div class="field">
            <input type="text" class="form-control" placeholder="Apellidos" autocomplete="apellidos" formControlName="apellidos"
            [ngClass]="{'is-invalid' : (registerForm.get('apellidos').dirty || registerForm.get('apellidos').touched) && !registerForm.get('apellidos').valid}"/>
            <small class="invalid-feedback" *ngIf="!registerForm.get('apellidos').valid">El campo apellido es obligatorio</small>
        </div>

        <div class="field">
            <input type="email" class="form-control" placeholder="e-mail" autocomplete="e-mail" formControlName="email"
            [ngClass]="{'is-invalid' : (registerForm.get('email').dirty || registerForm.get('email').touched) && !registerForm.get('email').valid}"/>
            <small  class="invalid-feedback" *ngIf="!registerForm.get('email').valid && registerForm.get('email').errors.required">El campo e-mail es obligatorio</small>
            <small class="invalid-feedback" *ngIf="!registerForm.get('email').valid && registerForm.get('email').errors.email">Dede ser una dirección de e-mail válida</small>  
        </div>

        <div class="field">
            <input type="url" class="form-control" placeholder="Url Foto Peril" formControlName="url"
            [ngClass]="{'is-invalid' : (registerForm.get('url').dirty || registerForm.get('url').touched) && !registerForm.get('url').valid}"/>
            <small class="invalid-feedback" *ngIf="!registerForm.get('url').valid">El campo url es obligatorio</small>
        </div>

        <div class="field">
            <input type="password" class="form-control" placeholder="Contraseña" formControlName="password" 
            [ngClass]="{'is-invalid' : (registerForm.get('password').dirty || registerForm.get('password').touched) && !registerForm.get('password').valid}"/>
            <small class="invalid-feedback" *ngIf="!registerForm.get('password').valid && registerForm.get('password').errors.required">El campo contraseña es obligatorio</small>
            <small class="invalid-feedback" *ngIf="!registerForm.get('password').valid && registerForm.get('password').errors.minLength">La contraseña debe terner al menos 8 Caracteres</small>
        </div>

        <div class="field">
            <input type="password" class="form-control" placeholder="Confirmar Contraseña" formControlName="repetirPassword" oninput="checkPasswords();"
            [ngClass]="{'is-invalid' : (registerForm.get('repetirPassword').dirty || registerForm.get('repetirPassword').touched) && !registerForm.get('repetirPassword').valid}"/>
            <small class="invalid-feedback" *ngIf="!registerForm.get('repetirPassword').valid && registerForm.get('repetirPassword').errors.required">El campo es obligatorio</small>
            <small class="invalid-feedback" *ngIf="!registerForm.get('repetirPassword').valid && !registerForm.get('repetirPassword').errors.required &&
                                                    registerForm.get('repetirPassword').errors.matchPassword">El password no coincide</small>
        </div>

        <div class="field">
            <button [disabled]="registerForm.invalid" class="button" (click)="register();"
            [ngClass]="{'button-disabled' : registerForm.invalid}">Registrarse</button>
        </div>

        <div class="noCuenta">
            ¿Ya tienes una cuenta?
            <a routerLink="/login">Entra</a>
        </div>

    </form>
    
</div>