

<main>
    
    <h2><span>Librería</span> Antique/Online</h2>

    <div class="contenedor1">
        <figure class="item1">
            <div class="item1contenedor">
                <img class="servicios" src="../../../assets/restauracionLibro.jpg" alt="">
            </div>
            <figcaption>Restauramos Libros</figcaption>
        </figure>
        <figure class="item1">
            <div class="item1contenedor">
                <img class="servicios" src="../../../assets/cajon-asiatico-organizado.jpg" alt="">
            </div>
            <figcaption>Encuentra tu Ebook</figcaption>
        </figure>
        <figure class="item1">
            <div class="item1contenedor">
                <img class="servicios" src="../../../assets/maquinaEscribir.jpg" alt="">
            </div>
            <figcaption>
                <span> Concurso Literario</span>
            </figcaption>
        </figure>
    </div>

    <div class="contenedor2">
        <figure class="item2">
            <p>Libro del Mes</p>
            <div class="item2contenedor1">
                <img class="news" src="../../../assets/magical-book_social.jpg" alt="">
            </div>
        </figure>
        <figure class="item2">
            <div class="item2contenedor2">
                <img class="news" src="../../../assets/library.jpeg" alt="">
            </div>
            <p>Autor del Mes</p>
        </figure>
    </div>

</main>


